.pdf-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.pdf-nav {
    height: 60px;
    width: 60px;
    margin: 40px;
    border-radius: 8px;
    background: none;
    border: none;
    position: relative;
}

.pdf-nav:focus,
.pdf-nav:active {
    outline: none;
}

.pdf-next:before,
.pdf-prev:before {
    position: absolute;
    content: ' ';
    width: 60px;
    height: 60px;
    background-image: url("../../../../assets/materials/next.svg");
    background-size: contain;
    left: 0;
    top: 0px;
    opacity: 0.9;
}

.pdf-prev:before {
    transform: rotateY(180deg);
}

.pdf-next:before {
}

.pdf-prev:hover::before,
.pdf-next:hover::before {
    opacity: 1;
}

.pdf-prev:disabled::before,
.pdf-next:disabled::before {
    opacity: 0.3;
}

.pdf-next:active::before {
    opacity: 1;
    transform: translate(1px, 1px);
}

.pdf-prev:active::before{
    opacity: 1;
    transform: rotateY(180deg) translate(1px, 1px);
}

