.content-block-accounts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 15px;
    font-family: 'Noto Sans Regular', sans-serif;
}

.content-block-accounts h3 {
    font-family: 'Noto Sans Bold', sans-serif;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
}

.content-block-accounts h1 {
    width: 1190px;
    text-align: left;
    font-family: 'Noto Sans Regular', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 400;
}

.content-block-accounts p,
.content-block-accounts li {
    font-family: 'Noto Sans Regular', sans-serif;
    color: #888888;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
}

.content-block-accounts section {
    display: flex;
    justify-content: space-between;
    width: 1190px;
    padding-bottom: 30px;
}

.accounts-tbl {
    border: none;
    margin: 0;
    width: 1190px;
}

.accounts-tbl span {
    font-family: 'Noto Sans Regular', sans-serif;
    font-weight: 300;
}

.accounts-tbl td {
    text-align: center;
    vertical-align: middle;
    border: none;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

.height_55 td {
    height: 55px;
}

.height_60, .height_60 td {
    height: 60px;
}

.height_70 td {
    height: 70px;
}

.width_250 {
    width: 250px;
}



.color_exclusive-plus {
    color: #427ba7;
}

.color_platinum-plus {
    color: #9d9d83;
}
.color_gold-plus {
    color: #d5b24a;
}

.color_basic-plus {
    color: #a8a8a8;
}

.tbl-plus-txt {
    font-size: 44px;
    line-height: 40px;
}

.height_35 td {
    height: 35px;
}

.accounts-tbl-delimiter {
    position: relative;
}

.tbl-no-wrap {
    white-space: nowrap;
}

.width_250 {
    width: 250px;
    padding: 0 12px;
}

.width_90 {
    width: 90px;
}

.width_110 {
    width: 110px;
}

.width_85 {
    width: 85px;
}

.width_70 {
    width: 70px;
}

.height_55 td {
    height: 55px;
}


.color_white {
    color: #fff;
}

.color_red {
    color: #bd0102;
}

.display_block {
    display: block;
}

.color_grey {
    color: #676767;
}

.color_vip-red {
    color: #e90001;
    text-shadow: rgba(255,200,200,.6) 0 0 15px;
}

.text_to-uppercase {
    text-transform: uppercase;
}

.font_14 {
    font-size: 14px;
    line-height: 16px;
}

.font_16 {
    font-size: 16px;
    line-height: 19px;
}

.font_20 {
    font-size: 20px;
    line-height: 24px;
}

.display_inline-block {
    display: inline-block;
}

.margin-t_25 {
    margin-top: 25px;
}