/*===GRAY===*/
.bg_grey {
    background-color: #e0e3e8;
}

.bg_light-grey {
    background-color: #f4f4f4;
}


/*== BASIC-WHITE==*/

.bg_basic-white {
    background-color: #d4d4d4;
}
.bg_basic-white-sum {
    background-color: #dfdfdf;
}

.bg_basic-white-bonus {
    background-color: #e5e5e5;
}

.bg_basic-plus {
    background-color: #dddfe3;
}

.bg_basic-light-plus {
    background-color: #ececec;
}
/*===GOLD===*/

.bg_gold {
    background-color: #ddc16c;
}

.bg_gold-plus {
    background-color: #dfdac8;
}

.bg_gold-light-plus {
    background-color: #eee7d1;
}

.bg_gold-sum {
    background-color: #edd99c;
}

.bg_gold-bonus {
    background-color: #efe3be;
}

/*===PLATINUM===*/

.bg_platinum {
    background-color: #c4c4aa;
}
.bg_platinum-sum {
    background-color: #d5d5c6;
}

.bg_platinum-bonus {
    background-color: #deded0;
}

.bg_platinum-plus {
    background-color: #d2d4ca;
}

.bg_platinum-light-plus {
    background-color: #dcdcd0;
}

/*===BLUE===*/

.bg_blue {
    background-color: #427ba7;
}

.bg_vip-blue {
    background-color: #00104b;
}

.bg_blue-sum {
    background-color: #679dc6;
}

.bg_blue-bonus {
    background-color: #7bb0d9;
}

.bg_vip-blue-sum {
    background-color: #1b2e74;
}

.bg_vip-blue-bonus {
    background-color: #3d53a1;
}

/*===EXCLUSIVE===*/
.bg_exclusive-plus {
    background-color: #b7c8d7;
}
.bg_exclusive-light-plus {
    background-color: #c6d5e0;
}


/*===VIP===*/
.bg_vip-light-plus {
    background-color: #b5b9c8;
}

.bg_vip-plus {
    background-color: #a6acbf;
}