.modal {
  position: fixed;
  top: 20%;
  left: 15%;
  width: 70%;
  min-height: 30px;
  overflow: hidden;
  z-index: 500;
  border-style: solid;
  border-width: 10px;
  border-image: linear-gradient(150deg, #c19751, #fff573, #c19751);
  -webkit-border-image: -webkit-linear-gradient(150deg, #c19751 , #fff573 ,#c19751) 1 100%;
border-image-slice: 1%;
  /*border: 7px solid rgb(255, 192, 111);*/
  padding: 50px 30px 50px 70px;
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.7s ease-out;
}

/* -------------------------- media queries ------------------------------- */

@media (max-width: 600px) {
  .modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}

@media (max-width: 800px) {
  .modal {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 800;
    padding: 0 0;
  }

  @media (max-width: 480px) {
    .modal {
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      z-index: 800;
      padding: 10px 0;
    }
  }
}
