.sale-with-snp {
  padding: 10px;
  text-align: justify;
  font-family: 'Noto Sans Regular';
}

.sale-with-snp h3 {
  font-family: 'Noto Sans Bold';
}

/* -------------------------- media queries ------------------------------- */
