.loader {
    font-family: 'Noto Sans Regular', sans-serif;
    font-size: 16px;
    color: #555555;
}

.container-loader {
    display: block;
    background-color: #000000;
    height: 5px;
    width: 100%;
}