@font-face {
  font-family: 'Noto Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: url(./assets/fonts/NotoSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans Italic';
  font-style: normal;
  font-weight: normal;
  src: url(./assets/fonts/NotoSans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url(./assets/fonts/NotoSans-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: url(./assets/fonts/NotoSans-Bold.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  min-width: 320px;
  font-family: 'Noto Sans Regular', sans-serif;
  width: 100vw;
}
