.sale-contacts {
  padding: 10px;
  text-align: justify;
  font-family: 'Noto Sans Regular';
}

.sale-contacts h3 {
  font-family: 'Noto Sans Bold';
}

/* -------------------------- media queries ------------------------------- */
