.platforms {
    /*background-image: url("../../assets/platforms/bg_platforms.png");*/
    background: -webkit-linear-gradient(0deg, #cbcbcb , #f3f3f3, #ffffff, #f3f3f3, #cbcbcb );
    background: -moz-linear-gradient(0deg, #cbcbcb , #f3f3f3, #ffffff, #f3f3f3, #cbcbcb );
    background: -o-linear-gradient(0deg, #cbcbcb , #f3f3f3, #ffffff, #f3f3f3, #cbcbcb );
    background: -ms-linear-gradient(0deg, #cbcbcb , #f3f3f3, #ffffff, #f3f3f3, #cbcbcb );
    background: linear-gradient(0deg, #cbcbcb , #f3f3f3, #ffffff, #f3f3f3, #cbcbcb );
    background-size: cover;
    height: 100px;
}

.platforms-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.platforms-header {
    padding-top: 40px;
    font-family: 'Noto Sans Bold',sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    color: #a9a9a9;
    background: linear-gradient(110deg, #c89828, #bb840f , #e3c056);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.platforms-signs {
    padding-top: 10px;
    margin: 0 auto 0;
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: space-between;
}

.platform-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.platform-item h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Noto Sans Bold',sans-serif;
    color: #111111;
    margin-top: 3px;
}

.platform-img {
    height: 40px;
}

.platforms-info {
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.3s;
    transition-delay: 1s;
}
.platforms-info p {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    color: #303030;
}

@media all and (max-width: 800px) {
    .platforms-signs {
        width: 90%;
    }

    .platform-img {
        height: 50px;
    }
    .platform-item h3 {
        font-size: 12px;
    }
.platforms-info{
    width: 90%;
}
}

@media all and (max-width: 480px) {
    .platform-item h3 {
        font-size: 10px;
    }
    .platforms-info p {
        font-size: 9px;
        line-height: 9px;
    }
}