.upper-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 76px;
  background-image: url('../../../assets/materials/menu_panel_black.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.99);
}

.upper-menu-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1190px;
  /*width: 65%;*/
}

.upper-menu-block ul {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.upper-menu-block ul li a {
  background: linear-gradient(45deg, #cfaa34 33%, #e1d868 66%, #d5a956);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(170, 116, 66);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  /*font-size: .75vw;*/
  /*font-size: 0.7vw;*/
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
  transition: color .3s ease-in;
}

.left-menu-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.left-list {
  margin-left: 20px;
  min-width: 500px;
}

.right-menu-block {
  display: flex;
  align-items: center;
}

.left-list li:hover,
.right-list a:hover {
  animation: transformMenu .4s ease-in;
  transform: scale(1.06);
  color: rgb(255, 182, 86);
}

.left-list a:hover {
  color: rgb(255, 182, 86);
}

@keyframes transformMenu {
  from {
    transform: scale(1.0);
      }
  70%{
    transform: scale(1.08, 1.08);
  }
  100% {
    transform: scale(1.06, 1.06);
  }
}

.left-list li {
  margin-left: 20px;
}

.right-list li {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.lang {
  height: 24px;
}

.lang li i {
  width: 30px;
}

.lang li {
  margin-left: 10px;
}

.lang-link {
  cursor: pointer;
  transition: all ease-in .3s;
}

.lang-link:hover {
  transform: scale(1.1);
}

.right-list li {
  padding: 5px;
  border: 2px solid transparent;
}

.upper-nav-popup {
  border-radius: 10px;
  opacity: 0.9;
  width: 130px;
  min-height: 100px;
}

/* -------------------------- media queries ------------------------------- */

@media all and (max-width: 1200px) {
  .upper-nav {
    height: 120px;
    margin-bottom: 0;
  }

  .upper-menu-block {
    height: 200px;
    width: 90%;
  }

  .left-menu-block ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    /*width: 100%;*/
  }

  .upper-menu-block ul li {
    width: 100%;
    text-align: left;
  }


  .left-list {
    min-width: 250px;
  }

  .left-list li {
    margin-left: 0;
  }

  .right-list li {
    margin-right: 0;
  }

  .upper-menu-block ul li a {
    /*font-size: 1vw;*/
  }

  .lang {
    width: 25px;
    padding: 0;
    margin: 0;
  }
}

@media all and (max-width: 800px) {


  .upper-menu-block{
    width: 90%;
  }
  .upper-menu-block ul li a {
    font-size: 12px;
  }

  .right-menu-block ul{
    padding: 0;
  }
  .right-list li {
    padding-left: 0;
  }

  .upper-nav {
    display: none;
    height: 270px;
    margin-bottom: 0;
  }

  .upper-menu-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 270px;
  }

  .upper-menu-block ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
  }

  .upper-menu-block ul li {
    width: 100%;
    text-align: left;
  }

  .left-list li {
    margin-left: 0;
    padding: 0;
  }

  .right-list li {
    margin-right: 0;
    padding: 0;
  }

  .upper-menu-block ul li a {
    font-size: 2.5vw;
  }
}
