.faq-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 15px;
  font-family: 'Noto Sans Regular', sans-serif;
}


.faq-block h1 {
  width: 1190px;
  text-align: left;
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 400;
}

.faq {
  display: flex;
  justify-content: space-between;
  width: 1190px;
  padding-bottom: 40px;
}

.left-faq-col {
  display: flex;
  flex-direction: column;
  width: 263px;
}



.center-faq-col {
  text-align: justify;
  padding: 0 30px;
  width: 50%;
}

.faq-answers-block {
  padding: 0 0px;
  text-align: justify;
  font-family: 'Noto Sans Regular', sans-serif;
}

.answer-header {
  font-family: 'Noto Sans Bold',sans-serif;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
}

.dropdown-paragraph {
  display: block;
  overflow: hidden;
  margin-top: 10px;
}

.dropdown-paragraph:first-child {
  margin-top: 0;
}

.faq-answers-block p,
.dropdown-paragraph p {
  font-family: 'Noto Sans Regular', sans-serif;
  color: #888888;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
  }

.answer-p,
.dropdown-paragraph p {
  padding-left: 22px;
}

.dropdown-paragraph ul li,
.dropdown-paragraph ol li {
  font-family: 'Noto Sans Regular', sans-serif;
  color: #888888;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
}

.question,
.dropdown-paragraph h3 {
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #888888;;
  margin-bottom: 0;
  cursor: pointer;
  padding-left: 22px;
  position: relative;
}

.question::before,
.dropdown-paragraph h3::before {
  content: ' ';
  position: absolute;
  width: 11px;
  height: 11px;
  left: 0;
  top: 5px;
  background-image: url("../../../../assets/innerPages/coin_icon.png");
  background-size: contain;
}


.hidden {
  opacity: .2;
}
/* -------------------------- media queries ------------------------------- */
