.backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.55);
}

/* -------------------------- media queries ------------------------------- */
