.right-column {
  text-align: justify;
  /*padding: 10px;*/
  width: 480px;
  padding-left: 50px;
  margin-right: -100px;
}

.right-column div {
  padding-bottom: 10px;
}


/* -------------------------- media queries ------------------------------- */
