.main-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    width: 100%;
    height: 115vh;
    /*padding-top: 52vh;*/
    position: relative;
    overflow: hidden;
}

.bkg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.bkg1 {
    background-image: url('../../../assets/backgrounds/bg_01.jpg');
    background-size: cover;
    animation: fadeLayer1 80s ease-in-out infinite;
}

.bkg2 {
    background-image: url('../../../assets/backgrounds/bg_02.jpg');
    background-size: cover;
    animation: fadeLayer2 80s ease-in-out infinite;
}

.bkg3 {
    background-image: url('../../../assets/backgrounds/bg_03.jpg');
    background-size: cover;
    animation: fadeLayer3 80s ease-in-out infinite;
}

.bkg4 {
    background-image: url('../../../assets/backgrounds/bg_04.jpg');
    background-size: cover;
    animation: fadeLayer4 80s ease-in-out infinite;
}

.bkg5 {
    background-image: url('../../../assets/backgrounds/bg_05.jpg');
    background-size: cover;
    animation: fadeLayer5 80s ease-in-out infinite;
}

.bkg6 {
    background-image: url('../../../assets/backgrounds/bg_06.jpg');
    background-size: cover;
    animation: fadeLayer6 80s ease-in-out infinite;
}

.bkg7 {
    background-image: url('../../../assets/backgrounds/bg_07.jpg');
    background-size: cover;
    animation: fadeLayer7 80s ease-in-out infinite;
}

.bkg8 {
    background-image: url('../../../assets/backgrounds/bg_08.jpg');
    background-size: cover;
    animation: fadeLayer8 80s ease-in-out infinite;
}

.marquee-container {
    background-color: #000;
}

.main-title-block {
    /*padding-top: 48vh;*/
    position: absolute;
    width: 80%;
    /*top: 45vh;*/
    top: 40%;
}

.main-title-block h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 7px black;
    font-family: 'Noto Sans Regular', sans-serif;
    font-size: 1.4vw;
}

.main-title-block h2 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 7px black;
    font-family: 'Noto Sans Regular', sans-serif;
    font-size: 1vw;
    line-height: 1vw;
}

.first-line-1,
.first-line-2,
.first-line-3,
.first-line-4 {
    padding-bottom: 2vw;
}

.first-line-1 {
    -webkit-animation: focus-1 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
    animation: focus-1 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

.second-line-1 {
    -webkit-animation: focus-1 40s cubic-bezier(0.250, 0.460, 0.450, 0.940)infinite;
    animation: focus-1 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

.first-line-2 {
    -webkit-animation: focus-2 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
    animation: focus-2 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

.second-line-2 {
    -webkit-animation: focus-2 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
    animation: focus-2 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

.first-line-3 {
    -webkit-animation: focus-3 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
    animation: focus-3 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

.second-line-3 {
    -webkit-animation: focus-3 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
    animation: focus-3 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

.first-line-4 {
    -webkit-animation: focus-4 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
    animation: focus-4 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

.second-line-4 {
    -webkit-animation: focus-4 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
    animation: focus-4 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}


.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    top: 70%;
    width: 357px;
    height: 78px;
    background-image: url("../../../assets/materials/button.png");
    background-size: cover;
    color: rgba(17, 17, 17, 0.8);
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Noto Sans Bold', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    transition: all .5s;
}

.btn:active,
.btn:focus {
    outline: none;
}

.btn:hover {
    color: rgba(17, 17, 17, 1);
    box-shadow: 0 0 50px #ffec68;
    transform: scale(1.05);
}

