/*----------------------------Background layers animation-------------------------------------*/

@keyframes fadeLayer1 {
    from {
        opacity: 1;
    }
    12.5% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    37.5% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    62.5% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    87.5% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeLayer2 {
    from {
        opacity: 0;
    }
    12.5% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    37.5% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    62.5% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeLayer3 {
    from {
        opacity: 0;
    }
    12.5% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    37.5% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    62.5% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeLayer4 {
    from {
        opacity: 0;
    }
    12.5% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    37.5% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    62.5% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeLayer5 {
    from {
        opacity: 0;
    }
    12.5% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    37.5% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    62.5% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeLayer6 {
    from {
        opacity: 0;
    }
    12.5% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    37.5% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    62.5% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeLayer7 {
    from {
        opacity: 0;
    }
    12.5% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    37.5% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    62.5% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    87% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeLayer8 {
    from {
        opacity: 0;
    }
    12.5% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    37.5% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    62.5% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    87.5% {
        opacity: 1;
    }
    to {
        opacity: 0
    }
}

/* ------------------------------- animation for header ---------------------------------------*/

@keyframes focus-1 {
    0% {
        letter-spacing: -15px;
        transform: translate3d(0px, 200px, 100px) rotateY(-360deg);
        filter: blur(30px);
        opacity: 0;
    }
    5% {
        /*letter-spacing: -10px;*/
        transform: translate3d(0px, -10px, 0) rotateY(0deg);
        filter: blur(10px);
        opacity: 1;
    }
    7% {
        transform: translate3d(0px, 0px, 0);
        letter-spacing: 0;
        opacity: 1;
    }
    10% {
        filter: blur(0);
        opacity: 1;
    }
    23% {
        transform: translateX(0);
        filter: blur(0);
        opacity: 1;
    }
    25% {
        transform: rotateX(90deg);
        filter: blur(10px);
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes focus-2 {
    0%{
        opacity: 0;
    }
    25% {
        letter-spacing: -15px;
        transform: translate3d(0px, 200px, 100px) rotateY(-360deg);
        filter: blur(30px);
        opacity: 0;
    }
    30% {
        /*letter-spacing: -10px;*/
        transform: translate3d(0px, -10px, 0px) rotateY(0deg);
        filter: blur(10px);
        opacity: 1;
    }
    32% {
        transform: translate3d(0, 0, 0);
        letter-spacing: 0;
        opacity: 1;
    }
    35% {
        filter: blur(0);
        opacity: 1;
    }
    48% {
        transform: translateX(0);
        filter: blur(0);
        opacity: 1;
    }
    50% {
        transform: rotateX(90deg);
        filter: blur(10px);
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}
@keyframes focus-3 {
    0%{
        opacity: 0;
    }
    50% {
        letter-spacing: -15px;
        transform: translate3d(0px, 200px, 100px) rotateY(-360deg);
        filter: blur(30px);
        opacity: 0;
    }
    55% {
        /*letter-spacing: -10px;*/
        transform: translate3d(0px, -10px, 0px) rotateY(0deg);
        filter: blur(10px);
        opacity: 1;
    }
    57% {
        transform: translate3d(0, 0, 0);
        letter-spacing: 0;
        opacity: 1;
    }
    60% {
        filter: blur(0);
        opacity: 1;
    }
    73% {
        transform: translateX(0px);
        filter: blur(0);
        opacity: 1;
    }
    75% {
        transform: rotateX(90deg);
        filter: blur(10px);
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}
@keyframes focus-4 {
    0%{
        opacity: 0;
    }
    75% {
        letter-spacing: -15px;
        transform: translate3d(0px, 200px, 100px) rotateY(-360deg);
        filter: blur(30px);
        opacity: 0;
    }
    80% {
        /*letter-spacing: -10px;*/
        transform: translate3d(0px, -10px, 0px) rotateY(0deg);
        filter: blur(10px);
        opacity: 1;
    }
    82% {
        transform: translate3d(0px, 0px, 0px);
        letter-spacing: 0;
        opacity: 1;
    }
    85% {
        filter: blur(0);
        opacity: 1;
    }
    98% {
        transform: translateX(0px);
        filter: blur(0);
        opacity: 1;
    }
    100% {
        transform: rotateX(90deg);
        filter: blur(10px);
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes scroll {
    0% {
        transform: translate(6000px, 0);
    }
    100% {
        transform: translate(-5850px, 0);
    }
}
