@media all and (max-width: 1580px) {
  .main-page-container {
    width: 100%;
    height: 100vh;
    /*padding-top: 37vh;*/
  }

  .main-title-block {
    /*padding-top: 37vh;*/
  }

  .main-title-block h1 {
    font-size: 24px;
  }
  .main-title-block h2 {
    font-size: 18px;
  }

  .btn {
    width: 280px;
    height: 55px;
    font-size: 22px;
    margin-bottom: 50px;
  }

  .btn:hover {
    width: 280px;
    height: 55px;
    font-size: 22px;
  }
}

@media all and (max-width: 1200px) {
  .main-page-container {
    width: 100%;
    height: 58vh;
    /*padding-top: 7vh;*/
    justify-content: flex-start;
  }

  .main-title-block {
    top: 30%;
    width: 80%;
  }

  .main-title-block h1 {
    font-size: 24px;
  }
  .main-title-block h2 {
    font-size: 18px;
    line-height: 16px;
  }

  .btn {
    width: 240px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 50px;
  }

  .btn:hover {
    width: 240px;
    height: 50px;
    font-size: 20px;
  }
}

@media all and (max-width: 800px) {
  .main-page-container {
    width: 100%;
    height: 58vh;
    /*padding-top: 12vh;*/
    justify-content: flex-start;
  }

  .main-title-block {
    /*padding-top: 12vh;*/
  }

  .main-title-block h1 {
    font-size: 18px;
  }

  .btn {
    width: 220px;
    height: 45px;
    font-size: 18px;
    margin-bottom: 50px;
  }

  .btn:hover {
    width: 220px;
    height: 45px;
    font-size: 18px;
  }
}

@media all and (max-width: 480px) {
  .main-page-container {
    width: 100%;
    /*height: 46vh;*/
    /*padding-top: 13vh;*/
    justify-content: flex-start;
  }

  .main-title-block {
    top: 20%;
    width: 90%;
    /*padding-top: 13vh;*/
  }

  .main-title-block h1 {
    /*font-size: 3vw;*/
    font-size: 14px;
    line-height: 16px;
  }

  .main-title-block h2 {
    font-size: 12px;
    line-height: 14px;
  }

  .btn {
    min-width: 150px;
    min-height: 30px;
    font-size: 14px;
    top: 80%
  }

  .btn:hover {
    /*width: 200px;*/
    /*height: 40px;*/
    font-size: 14px;
  }

  .portfolio-h-wrap {
    position: relative;
    height: 50%;
    width: 90%;
  }

}
