.contacts-block {
  margin: 0;
  /*height: 100vh;*/
  /*height: 905px;*/
  display: flex;
  justify-content: space-between;
  padding-top: 155px;
  padding-left: 2px;
  font-family: 'Noto Sans Regular',sans-serif;
}

.map-container {
  display: flex;
  flex-direction: row;
  height: 750px;
  overflow: hidden;
}

.map-block {
  /*flex: 1 0 auto;*/
  /*width: 75%;*/
  height: 100%;
  position: relative;
}

.dropdown-info-hidden {
  left: -420px;
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 400px;
  top: 0;
  padding: 0 20px;
  background-color: #fff;
  z-index: 200;
  opacity: .9;
  transition: all .4s;
}

.dropdown-info {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 400px;
  left: 0;
  top: 0;
  padding: 0 20px;
  background-color: #fff;
  z-index: 100;
  opacity: .9;
  transition: all .4s;
}

.dropdown-info-hidden h2,
.dropdown-info h2 {
  width: 80%;
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.dropdown-info li,
.dropdown-info-hidden li {
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}

.dropdown-info-container {
  width: 0;
  height: 100%;
  position: relative;
}

.info-p {
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
  margin-top: 5px;
}

.close-btn {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 0;
  top: 0;
}

/* -------------------------- media queries ------------------------------- */
