.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  width: 100vw;
}

.content {
  flex: 1 0 auto;
  min-width: 320px;
  width: 100vw;
}

.inner-page {
  background-image: url("../../assets/innerPages/bg.png");
  background-size: cover;
}

.inner-page h1 {
  text-align: left;
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 400;
}

.content-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 15px;
  font-family: 'Noto Sans Regular', sans-serif;
}

.content-block h3 {
  font-family: 'Noto Sans Bold',sans-serif;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
}

.content-block h1 {
  width: 1190px;
  /*padding-left: 40px;*/
  text-align: left;
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 400;
}

.content-block p,
.content-block li,
.content-block span{
  font-family: 'Noto Sans Regular', sans-serif;
  color: #888888;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
}

.content-block section {
  display: flex;
  justify-content: space-between;
  width: 1190px;
  padding-bottom: 30px;
}


.left-col {
  width: 75%;
  min-height: 300px;
  padding-right: 30px;
  padding-bottom: 20px;
  text-align: justify;
}

.in-block-nav {
  /*width: 60%;*/
  width: 1190px;
  /*padding-left: 40px;*/
  display: flex;
  justify-content: flex-start;
}

.in-block-nav a {
  color: #0f6654;
  font-size: 14px;
  font-family: 'Noto Sans Regular', sans-serif;
  padding: 0 0 4px 0;
  border-bottom: solid 1px transparent;
  transition: all .3s linear;
}

.in-block-nav a:hover {
  color: #0f6654;
  border-bottom: solid 1px #0f6654;
  text-decoration: none;
}

.arrow-right {
  width: 8px;
  height: 14px;
  margin: 3px 14px;
}

.route {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  font-family: 'Noto Sans Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  padding: 24px;
  width: 100%;
  height: 70px;
  background-color: rgba(162, 162, 162, 0.3);
  color: rgba(0, 0, 0, 0.7);
  transition: all .1s linear;
}

.route:hover {
  background-color: #0f6654;;
  color: white;
  /*transition: all 0.3s linear;*/

}
.route:hover span {
  transform: scale(1.07);
}

.active-route {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  font-family: 'Noto Sans Regular',sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  padding: 24px;
  width: 100%;
  height: 70px;
  background-color: rgba(162, 162, 162, 0.3);
  color: rgba(0, 0, 0, 0.7);
  background-color: #0f6654;;
  color: white;
  transition: all 0.3s linear;
}
.active-route:hover {
  color: white;
}
/* -------------------------- media queries ------------------------------- */

@media all and (max-width: 1200px) {
  .content {
    margin-top: 180px;
  }
}

@media all and (max-width: 800px) {
  .content {
    margin-top: 100px;
  }
}

@media all and (max-width: 480px) {
  .content {
    margin-top: 80px;
  }
}
