.chat-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.chat-box {
    position: absolute;
    bottom: 0;
    right: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.chat-box-hidden {
    width: 330px;
    height: 60px;
    transition: all 0.2s;
}

.chat-box-rollup {
    width: 330px;
    height: 120px;
    transition: all 0.2s;
}

.chat-expanded {
    width: 330px;
    height: 450px;
    transition: all 0.2s;
}

.chat {
    width: 100%;
    height: 60px;
    background: #666666;
}

.call-request-hidden {
    width: 100%;
    height: 0;
    transition: height 0.2s;
}

.call-request-rollup {
    width: 100%;
    height: 60px;
    background-color: #0f6654;
    transition: all 0.2s;
}

.call-request-expanded {
    width: 100%;
    height: 450px;
    background-color: #0f6654;
    transition: all 0.2s;
    position: relative;
}

.chat-hidden {
    width: 100%;
    height: 0;
}

.chat-chat-expanded {
    width: 100%;
    height: 450px;
    background-color: #666666;
    transition: all 0.2s;
    position: relative;
}

.chat-header {
    height: 60px;
    padding: 5px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chat-img-container {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.chat-img-container img {
    height: 100%;
}

.chat-header-text {
    display: flex;
    width: 100%;
    padding: 10px 10px 10px 25px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.chat-header-text h5 {
    font-family: 'Noto Sans Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: white;
    padding-bottom: 0;
    margin: 0;
}

.chat-header-text p {
    font-family: 'Noto Sans Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: white;
}

.chat-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    height: 10px;
    background-image: url("../../assets/materials/close.svg");
    background-size: contain;
    opacity: 0;
}

.call-request-expanded .chat-close {
    opacity: 1;
}

.chat-expanded .chat-close {
    opacity: 1;
}

.chat .chat-wrapper {
    display: none;
}

.chat-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    overflow: auto;
    width: 95%;
    margin: 0 auto;
    height: 350px;
    position: relative;
    background-color: white;
    padding-bottom: 15px;
}

.chat-chat-container {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 315px;
    overflow: auto;
    background-color: white;
    margin: 0 auto;
    padding: 10px 20px;
    color: #6e6e6e;
}

.call-req-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    height: 80%;
    background-color: white;
    margin: 0 auto;
    padding: 10px 20px;
    color: #6e6e6e;
}

.call-req-form p {
    color: #555555;
    text-align: center;
    font-size: 12px;
    padding: 0 10px;
}

.date-time-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.date-time-fields select {
    width: 120px;
    display: inline-block;
    height: 30px;
    background-color: white;
    border: solid 1px #9b9b9b;
    font-size: 12px;
    color: #555555;
    border-radius: 4px;
}

.date-time-fields select:active,
.date-time-fields select:focus {
    outline: none;
}
.contact-form input,
.call-req-form input {
    width: 100%;
    display: inline-block;
    height: 30px;
    background-color: white;
    border: solid 1px #9b9b9b;
    font-size: 12px;
    color: #555555;
    border-radius: 4px;
    padding-left: 30px;
}

.contact-form input,
.contact-form button {
    margin: 8px auto;
}

.return-to-chat {
    color: #6e6e6e;
    font-size: 12px;
}

.return-to-chat:hover {
    color: #111111;
    cursor: pointer;
}

.send-btn {
    width: 100%;
    display: inline-block;
    height: 30px;
    font-size: 12px;
    text-transform: uppercase;
    color: #131313;
    border-radius: 4px;
    background-image: url("../../assets/materials/button.png");
    background-size: cover;
    background-color: #bb840f;
    outline: none;
    border: none;
}

.send-btn:hover {
    color: #111111;
    transform: scale(1.01, 1.04);
}

.bot-speech,
.user-speech {
    position: relative;
    width: 80%;
    min-height: 32px;
    margin-bottom: 15px;
    line-height: 20px;
    padding: 8px 8px 0 8px;
    background-color: #f6f6f6;
    border: #cbcbcb solid 1px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.bot-speech {
    margin-right: 70px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 7px;
}

.user-speech {
    margin-left: 70px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 0;
}

.bot-speech p,
.user-speech p{
    line-height: 1em;
    padding-bottom: 0;
}

.user-speech .sending-time{
    position: absolute;
    bottom: -18px;
    right: 10px;
    font-family: 'Noto Sans Italic', sans-serif;
    font-size: 10px;
    color: #9b9b9b;
}
.bot-speech .sending-time{
    position: absolute;
    bottom: -18px;
    left: 10px;
    font-family: 'Noto Sans Italic', sans-serif;
    font-size: 10px;
    color: #9b9b9b;
}

.chat-wrapper textarea {
    font-size: 14px;
}

.speech-input {
    position: relative;
    width: 275px;
    display: inline-block;
    height: 70px;
    background-color: white;
    border: solid 1px #9b9b9b;
    font-size: 12px;
    color: #555555;
    border-radius: 4px;
    padding-left: 10px;
    overflow: hidden;
    resize: none;
    padding-right: 40px;
}

.speech-input:focus {
    outline: none;
}

.send-speech {
    position: absolute;
    right: 25px;
    bottom: 23px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url("../../assets/materials/send.svg");
    background-size: contain;
}

.send-speech:focus{
    outline: none;
}

.send-speech:active{
    outline: none;
    transform: translate(1px, 1px);
}

.printing-indicator-container {
    height: 35px;
    padding-bottom: 5px;
}

.printing-indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.printing-indicator p {
    font-family: 'Noto Sans Italic', sans-serif;
    font-size: 12px;
    /*padding-bottom: 5px;*/
    color: #9b9b9b;
    margin-bottom: 7px;
}
.dot-typing {
    position: relative;
    /*margin-left: 20px;*/
    left: -9999px;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background-color: #9b9b9b;
    color: #9b9b9b;
    box-shadow: 9984px 0 0 0 #9b9b9b, 9999px 0 0 0 #9b9b9b, 10014px 0 0 0 #9b9b9b;
    animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
    0% {
        box-shadow: 9984px 0 0 0 #9b9b9b, 9999px 0 0 0 #9b9b9b, 10014px 0 0 0 #9b9b9b;
    }
    16.667% {
        box-shadow: 9984px -10px 0 0 #9b9b9b, 9999px 0 0 0 #9b9b9b, 10014px 0 0 0 #9b9b9b;
    }
    33.333% {
        box-shadow: 9984px 0 0 0 #cbcbcb, 9999px 0 0 0 #cbcbcb, 10014px 0 0 0 #cbcbcb;
    }
    50% {
        box-shadow: 9984px 0 0 0 #cbcbcb, 9999px -10px 0 0 #cbcbcb, 10014px 0 0 0 #cbcbcb;
    }
    66.667% {
        box-shadow: 9984px 0 0 0 #cbcbcb, 9999px 0 0 0 #cbcbcb, 10014px 0 0 0 #cbcbcb;
    }
    83.333% {
        box-shadow: 9984px 0 0 0 #9b9b9b, 9999px 0 0 0 #9b9b9b, 10014px -10px 0 0 #9b9b9b;
    }
    100% {
        box-shadow: 9984px 0 0 0 #9b9b9b, 9999px 0 0 0 #9b9b9b, 10014px 0 0 0 #9b9b9b;
    }
}

@media all and (max-width: 480px) {
    .chat-box {
        right: calc(50% - 165px);
    }
}