.frame-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 170px;
  margin-bottom: 35px;
  font-family: 'Noto Sans Regular';
}

.frame {
  width: 100%;
  min-height: 100vh;
  /*height: 100%;*/
  /*padding: 2%;*/
  /*border: 1px solid gray;*/
  /*border-radius: 7px;*/
  /*box-shadow: 5px 5px 9px #bdbcbc;*/
}

/* -------------------------- media queries ------------------------------- */
