.contacts-info {
  min-width: 400px;
  width: 400px;
  text-align: left;
  padding: 20px 25px;
}

.contacts-info p {
  margin-bottom: 2px;
}

.contacts-info h2 {
  text-align: center;
  font-family: 'Noto Sans Bold', sans-serif;
  font-size: 22px;

  text-transform: uppercase;
}


.info-header {
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #888888;
  margin-top: 5px;

}

.info {
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #0a74c8;
}
/* -------------------------- media queries ------------------------------- */
