.trade-comission {
  padding: 10px;
  text-align: justify;
  font-family: 'Noto Sans Regular';
}

.trade-comission h3 {
  font-family: 'Noto Sans Bold';
}

/* -------------------------- media queries ------------------------------- */
