.footer-section {
    height: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(18, 18, 18);
    border-top: solid 10px;
    border-image: linear-gradient(90deg, #c89e38, #fffebd, #d9b040, #a27727, #eac147);
    border-image-slice: 1;
    z-index: 50;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1190px;
    height: 200px;
    padding: 20px 0px 20px 0px;
    margin: 0 auto;
    text-transform: uppercase;
}

.footer-logo-block,
.footer-upper-links,
.footer-main-links {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-login-links {
    /*width: 20%;*/
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-link {
    display: inline-block;
    color: #fae384;
    font-size: 14px;
    font-family: 'Noto Sans Bold', sans-serif;
    transition: all .5s ease-out;
}

.footer-link:hover {
    color: #fae384;
    animation: transformFooterMenu .4s ease-in;
    transform: scale(1.05);
}

.footer-upper-links a:hover,
.footer-main-links a:hover,
.footer-login-links a:hover {

}

.learning-center-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 15px;
}

.learning-center-links-hidden {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 15px;
}

.learning-center-links a {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
}

.learning-center-links a:hover {
    font-size: 14px;
    font-weight: 700;
    color: #fae384;
}

.footer-logo {
    height: 95px;
    width: 100%;
    transition: all 0.4s ease-out;
}

.footer-logo img {
    height: 78px;
}


.footer-logo:hover {
    transform: scale(1.05);
}

.law-info-links {
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.law-info-links a {
    font-family: 'Noto Sans Bold', sans-serif;
    font-size: 10px;
    text-decoration: none;
    color: #666666;
    border-bottom: solid 1px transparent;
}

.law-info-links a:hover {
    color: #666666;
    border-bottom: solid 1px #666666;
}

.footer-register-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.attention-block {
    max-width: 1190px;
    margin: 10px auto 0;
    padding: 20px 0 0 0;
    border-top: solid 1px #9b9b9b;
    background-color: rgb(18, 18, 18);

}

.attention-block p {
    color: #9b9b9b;
    text-align: justify;
}

.site-owned {
    background-image: url("../../assets/materials/menu_panel_white.png");
    background-size: cover;
    margin-top: 20px;
    width: 100vw;
}

.site-owned p{
    max-width: 1190px;
    margin: 0 auto;
    font-size: 12px;
    text-align: justify;
    color: #2b2b2b;
    padding: 5px 80px;
}

@keyframes transformFooterMenu {
    from {
        transform: scale(1.0);
    }
    70% {
        transform: scale(1.06, 1.06);
    }
    100% {
        transform: scale(1.05, 1.05);
    }
}

/*=== MEDIA QUERIES===*/
@media all and (max-width: 1200px) {
    .footer-section {
        padding: 0 10px;
        height: 420px;
    }

    .footer-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        text-transform: uppercase;
    }

    .footer-logo-block,
    .footer-upper-links,
    .footer-main-links,
    .footer-login-links {
        width: 80%;
        height: 100%;
        flex-direction: column;
        /*padding-top: 30px;*/
    }

    .footer-link {
        font-size: 12px;
    }

    .learning-center-links a {
        font-size: 12px;
    }

    .attention-block {
        margin: 10px;
    }
}

@media all and (max-width: 800px) {

    .footer-section {
        height: 1250px;
    }

    .footer-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100vw;
        height: 900px;
        /*padding: 150px 0px 20px 40px;*/
        margin: 0 auto;
        text-transform: uppercase;
    }

    .footer-logo-block,
    .footer-upper-links,
    .footer-main-links,
    .footer-login-links {
        width: 80%;
        height: 200px;
        flex-direction: column;
        padding-top: 27px;
    }

    .footer-login-links {
        height: 230px;
    }

    .footer-logo {
        height: 60px;
        width: 100%;
        transition: all 0.4s ease-out;
    }

    .footer-logo img {
        height: 60px;
    }

    .law-info-links {
        height: 40%;
    }

    .footer-link {
        line-height: 11px;
    }

    .learning-center-links a {
        margin: 0;
        padding: 0;
        line-height: 14px;
    }

    .attention-block {
        padding-bottom: 10px;
    }

    .site-owned {
        padding-bottom: 60px;
    }

    .site-owned p{
        padding: 5px 8px;
    }

}