.main-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*height: 82px;*/
    height: 55px;
    background-image: url('../../../assets/materials/menu_panel_white.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.main-menu-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1190px;
}

.main-menu {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 55px;
}

.main-menu ul {
    margin-left: 30px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

.logo-block ul {
    padding-left: 0;
}

.logo-block ul li {
    list-style: none;
}

.logo-block ul li image {
    height: 57px;
}

.logo-img {
    /*height: 60px;*/
    width: 106px;
}

.main-menu ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid transparent;
    font-size: 14px;
    font-weight: 400;
}

.main-menu ul li:focus {
    outline: none;
    --moz-outline: none;
}

.main-menu ul li a {
    color: black;
    text-decoration: none;
    font-family: 'Noto Sans Bold', sans-serif;
    text-transform: uppercase;
    transition: color .4s;
}

.main-menu li div:hover,
.main-menu li a:hover {
    animation: transformMenu1 .4s ease-in;
    transform: scale(1.06);
}

@keyframes transformMenu1 {
    from {
        transform: scale(1.0);
    }
    70% {
        transform: scale(1.06, 1.06);
    }
    100% {
        transform: scale(1.06, 1.06);
    }
}

.study {
    cursor: pointer;
}

.study-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 55px;
    left: 30px;
    overflow: hidden;
    padding: 10px 0;
    background-image: url('../../../assets/materials/drop_down_m_1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-color: rgb(203, 203, 203);
    transition: all .3s ease-in;
    z-index: 0;
}

.study-center-hide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 55px;
    left: 30px;
    overflow: hidden;
    background-image: url('../../../assets/materials/drop_down_m_1.png');
    /*background-image: linear-gradient(00deg, #68a397, #d6d6d6);*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-color: rgba(9, 65, 33, 1);
    transition: none;
    height: 0;
    /*display: none;*/
}

.study-links {
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    font-weight: 700;
    text-transform: uppercase;
    width: 120px;
    height: 32px;
    color: #fff573;
}

.study-links:hover {
    color: #fff573;
    animation: transformMenu1 .4s ease-in;
    transform: scale(1.06);
}

.main-menu-block i {
    cursor: pointer;
}

.sidebar-btn {
    position: absolute;
    left: 97%;
}

/* menu btn */

.cont {
    position: absolute;
    bottom: 10px;
    right: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 35px;
    height: 35px;
    z-index: 300;
}

.bar1, .bar2, .bar3,
.change-bar1, .change-bar2, .change-bar3 {
    background-color: #555555;
    width: 35px;
    height: 7px;
    margin: 6px 0;
    transition: 0.3s;
}

/* Rotate first bar */
.change-bar1 {
    -webkit-transform: rotate(-90deg) translate(-13px, -13px);
    transform: rotate(-90deg) translate(-13px, -13px);
}

/* Fade out the second bar */
.change-bar2 {
    -webkit-transform: rotate(-90deg) translate(2px, 2px);
    transform: rotate(-90deg) translate(0px, 0px);
}

/* Rotate last bar */
.change-bar3 {
    -webkit-transform: rotate(-90deg) translate(13px, 13px);
    transform: rotate(-90deg) translate(13px, 13px);
}

/* -------------------------- media queries ------------------------------- */

@media all and (max-width: 1580px) {
    .study-center {
        top: 55px;
    }
}

@media all and (max-width: 1300px) {
    .main-menu-block {
        width: 1000px;
    }
}

@media all and (max-width: 1200px) {
    .main-nav {
        height: 100px;
        padding: 0 15px;
    }

    .main-menu {
        height: 100px;
    }

    .study-center {
        top: 100px;
    }

    .main-menu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-menu ul li {
        font-size: 12px;
    }

    .main-menu-block {
        /*flex-direction: column;*/
    }

    .cont {
        bottom: 32px;
        right: 28px;
    }
}

@media all and (max-width: 480px) {
    .main-menu {
        display: none;
        width: 100%;
        justify-content: flex-start;
        padding-left: 80px;
        height: 270px;
    }

    .main-nav {
        height: 80px;
        justify-content: flex-start;
        width: 100%;
        /*height: 270px;*/
    }

    .main-menu-block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 80px;
        padding: 0;
    }

    .main-menu-block ul {
        display: flex;
        width: 100%;
        text-align: left;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .main-menu-block ul li {
        width: 100%;
        text-align: left;
    }

    .study-center {
        top: 200px;
        left: 0;
    }

    .sidebar-btn {
        left: 10%;
        bottom: 4%;
    }

    .main-menu ul li {
        font-size: 2.5vw;
    }

    .main-menu ul li img {
        height: 40px;
        /*width: 100%;*/
    }

    .cont {
        bottom: 24px;
        right: 28px;
    }
}
