.pricing {
  padding: 10px;
  text-align: justify;
  font-family: 'Noto Sans Regular';
}

.pricing h3 {
  font-family: 'Noto Sans Bold';
}

/* -------------------------- media queries ------------------------------- */
