.nomatch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../assets/backgrounds/bg_01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: 'Noto Sans Bold Italic', sans-serif;
}

.nomatch-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 50%;
  padding: 20px;
  border-radius: 7px;
  background: rgba(141, 91, 44, 0.658);
}

.nomatch-content h1 {
  color: #ffe600;
  font-size: 3vw;
}

.nomatch-content p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 40%;
  color: #fff;
  font-size: 1.2vw;

}

/* -------------------------- media queries ------------------------------- */
