.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    top: 131px;
    padding: 0 20px;
    width: 380px;
    min-height: 65%;
    transition: all 0.5s ease 0.1s;
    z-index: 500;
    background-image: url('../../assets/materials/drop_down_m_1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    text-transform: uppercase;
}

.sidebar-hidden {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 100%;
    top: 131px;
    padding: 0 20px;
    width: 380px;
    min-height: 40%;
    transition: all 0.5s ease 0.1s;
    z-index: 500;
    background-image: url('../../assets/materials/drop_down_m_1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    font-weight: 700;
    text-transform: uppercase;
}

.sidebar-list {
    width: 100%;
}

.sidebar-hidden ul,
.sidebar ul {
    padding-left: 0;
    /*padding-left: 20px;*/
}

.sidebar-list li {
    /*width: 100%;*/
    text-align: left;
    list-style: none;
    margin-top: 10px;
    color: white;
}

.sidebar-list li a {
    font-family: 'Noto Sans Regular', sans-serif;
    font-weight: 700;
}

.sidebar-list li a {
    text-decoration: none;
    color: #fff573;
}

.sidebar-link {
    display: inline-block;
    cursor: pointer;
    transition: all .6s ease-in;
    padding: 2px 0;
}

@keyframes transform-sidebar-link {
    from {
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.12, 1.12);
    }
    100% {
        transform: scale(1.08, 1.08);
    }
}

.sidebar-link:hover {
    animation: transform-sidebar-link .5s linear;
    transform: scale(1.1, 1.1);
}



.lang-logo {
    padding-left: 0;
    cursor: pointer;
    padding-top: 10px;
}

.sidebar-study {
    width: 100%;
    cursor: pointer;
}

.sidebar-study-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    background: transparent;
    padding-top: 7px;
}

.sidebar-study-center li {
    font-family: 'Noto Sans Regular', sans-serif;
}

.sidebar-study-center-hide {
    display: none;
}

.sidebar-study-links {
    /*width: 70%;*/
    padding: 7px 0;
    margin-left: 20px;
    cursor: pointer;
    vertical-align: center;
    text-align: left;
    /*color: #f8b500;*/
    font-family: 'Noto Sans Italic', sans-serif;
}

.sidebar-study-links:hover {
    animation: transform-sidebar-link .5s linear;
    transform: scale(1.1, 1.1);
}

.sidebar-register {
    padding: 0 30px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-left: -20px;*/
}

.sidebar-register li {
    /*width: 35%;*/
    display: flex;
    justify-content: flex-start;
    /*flex-wrap: wrap;*/
    margin: 0;
    padding: 0;
}

.sidebar-register li a {
    font-family: 'Noto Sans Regular';
}

/* -------------------------- media queries ------------------------------- */

@media all and (max-width: 1580px) {
    .sidebar {
        top: 131px;
        right: 0;
        width: 380px;
    }

    .sidebar-hidden {
        top: 131px;
        width: 380px;
    }

    .lang-logo {
        /*padding-left: 64%;*/
    }
}

@media all and (max-width: 1200px) {
    .sidebar {
        top: 180px;
        right: 0;
        width: 380px;
        padding-bottom: 30px;
    }

    .sidebar-hidden {
        top: 400px;
    }

    .lang-logo {
        /*padding-left: 64%;*/
    }
}

@media all and (max-width: 800px) {
    .sidebar {
        top: 100px;
        right: 0;
        width: 340px;
        padding-bottom: 30px;
    }

    .sidebar-hidden {
        top: 100px;
        width: 340px;
    }

    .lang-logo {
        /*padding-left: 68%;*/
    }
}

@media all and (max-width: 480px) {
    .sidebar {
        top: 80px;
        width: 100%;
        left: 0;
        min-height: 45%;
    }

    .sidebar-hidden {
        top: 80px;
        min-height: 45%;
    }

    .lang-logo {
        /*padding-left: 60%;*/
    }
}
