.crypto-main-section {
    display: inline-block;
    position: relative;
    width: 100%;
    height: calc(56vw - 160px);
    background-color: rgba(0, 0, 0, .8);
    background-image: url("../../../assets/coins/background.png");
    background-size: cover;
    overflow: hidden;
}

.crypto__wrap-text {
    margin: 10vw auto;
    /*padding: 5vw;*/
    width: 60vw;
    text-align: center;
}

.crypto__wrap-text h1 {
    font-family: 'Noto Sans Bold', sans-serif;
    /*font-weight: 700;*/
    font-size: 2vw;
    text-transform: uppercase;
    /*font-size: 29px;*/
    color: #ffffff;
    transition: all .7s ease-in;
}

.crypto__wrap-text a {
    color: #d8c01a;
}

.crypto__wrap-text a:hover {
    color: #d8c01a;
    text-shadow: #ffe41d 0 0 2px;
}

.crypto__wrap-text p {
    width: 70%;
    margin: 0 auto;
    font-family: 'Noto Sans Regular', sans-serif;
    font-size: 18px;
    color: #ffffff;
}

.coin {
    position: absolute;
    z-index: 10;
    transition: all 1s cubic-bezier(0.92, 0, 0.1, 0.94);
}

.coin:hover {
    transform: rotateY(360deg);
}

.coin-body-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}

.coin-body-inner {
    width: 6.1vw;
    height: 6.1vw;
    border-radius: 50%;
    border: none;
    outline: none;
    background: transparent;
}

.inner1 {
    animation: coin-blink1 5s infinite ease-out;
}

.inner2 {
    animation: coin-blink2 5s infinite ease-out;
}

.inner3 {
    animation: coin-blink3 5s infinite ease-out;
}

.inner4 {
    animation: coin-blink4 5s infinite ease-out;
}

.inner5 {
    animation: coin-blink5 5s infinite ease-out;
}

.coin-body-inner:hover {
    box-shadow: #fff573 0 0 40px;
}

.b {
    background: url("../../../assets/coins/bitcoin.png") no-repeat;
    background-size: cover;
}

.l {
    background: url("../../../assets/coins/litecoin.png") no-repeat;
    background-size: cover;
}

.d {
    background: url("../../../assets/coins/dash.png") no-repeat;
    background-size: cover;
}

.e {
    background: url("../../../assets/coins/ethereum.png") no-repeat;
    background-size: cover;
}

.r {
    background: url("../../../assets/coins/ripple.png") no-repeat;
    background-size: cover;
}

.eos {
    background: url("../../../assets/coins/eos.png") no-repeat;
    background-size: cover;
}


.coin-b {
    bottom: 15.4vw;
    left: 7vw;
}

.coin-l {
    bottom: 8.6vw;
    left: 21.8vw;
}

.coin-e {
    bottom: 12.8vw;
    left: 36.6vw;
}

.coin-r {
    bottom: 5.3vw;
    left: 55.1vw;
}

.coin-d {
    bottom: 16.2vw;
    left: 69.1vw;
}

.coin-eos {
    bottom: 15.1vw;
    left: 86.5vw;
}


.line {
    position: absolute;
    background-color: #47bc7c;
    background: linear-gradient(#47bc7c 35%, #ffe600 15%, #47bc7c 50%);
    background-position-y: 12vw;
    width: .3vw;
}

.line1 {
    height: 20vw;
    bottom: 5.6vw;
    left: 3.2vw;
    transform: rotateZ(60deg);
    animation: blink1 5s infinite linear;
}

.line2 {
    height: 16.5vw;
    bottom: 8.8vw;
    left: 19.2vw;
    transform: rotateZ(115deg);
    animation: blink2 5s infinite linear;
}

.line3 {
    height: 15.5vw;
    bottom: 8vw;
    left: 34vw;
    transform: rotateZ(74deg);
    animation: blink3 5s infinite linear;
}

.line4 {
    height: 20vw;
    bottom: 4.1vw;
    left: 50.6vw;
    transform: rotateZ(112deg);
    animation: blink4 5s infinite linear;
}

.line5 {
    height: 17.8vw;
    bottom: 6.8vw;
    left: 66.8vw;
    transform: rotateZ(53deg);
    animation: blink5 5s infinite linear;
}

.line6 {
    height: 17.5vw;
    bottom: 11.8vw;
    left: 82.6vw;
    transform: rotateZ(93deg);
    animation: blink6 5s infinite linear;
}

.line7 {
    height: 20vw;
    bottom: 19.3vw;
    left: 95vw;
    transform: rotateZ(22.4deg);
    animation: blink7 5s infinite linear;
}

@keyframes blink1 {
    from {
        background-position-y: 32vw;

    }
    10% {
        box-shadow: none;
    }
    20% {
        background-position-y: 12vw;
        box-shadow: #fff573 0 0 20px;
    }
    25% {
        box-shadow: none
    }
    40% {
        background-position-y: 12vw;
    }
    60% {
        background-position-y: 12vw;
    }
    80% {
        background-position-y: 12vw;
    }
    to {
        background-position-y: 12vw;
    }
}

@keyframes blink2 {
    from {
        background-position-y: 26vw;
    }
    20% {
        background-position-y: 26vw;
        box-shadow: none;
    }
    40% {
        background-position-y: 10vw;
        box-shadow: #fff573 0 0 20px;
    }
    60% {
        background-position-y: 10vw;
        box-shadow: none;
    }
    80% {
        background-position-y: 10vw;
    }
    to {
        background-position-y: 10vw;
    }
}

@keyframes blink3 {
    from {
        background-position-y: 8vw;
    }
    20% {
        background-position-y: 8vw;
    }
    40% {
        background-position-y: 8vw;
        box-shadow: none;
    }
    60% {
        background-position-y: -6vw;
        box-shadow: #fff573 0 0 20px;
    }
    80% {
        background-position-y: -6vw;
        box-shadow: none;
    }
    to {
        background-position-y: -6vw;
    }
}

@keyframes blink4 {
    from {
        background-position-y: 32vw;
    }
    20% {
        background-position-y: 32vw;
    }
    40% {
        background-position-y: 32vw;
    }
    60% {
        background-position-y: 32vw;
        box-shadow: none;
    }
    80% {
        background-position-y: 12vw;
        box-shadow: #fff573 0 0 20px;
    }
    to {
        background-position-y: 12vw;
        box-shadow: none;
    }
}

@keyframes blink5 {
    from {
        background-position-y: 28vw;
        box-shadow: #fff573 0 0 20px;
    }
    20% {
        background-position-y: 28vw;
        box-shadow: none;
    }
    40% {
        background-position-y: 28vw;
    }
    60% {
        background-position-y: 28vw;
    }
    80% {
        background-position-y: 28vw;
        box-shadow: none;
    }
    to {
        background-position-y: 10vw;
        box-shadow: #fff573 0 0 20px;
    }
}

@keyframes blink6 {
    0% {
        background-position-y: 44vw;
        box-shadow: none;
    }
    20% {
        background-position-y: 27vw;
        box-shadow: #fff573 0 0 20px;
    }
    40% {
        background-position-y: 27vw;
        box-shadow: none;
    }
    60% {
        background-position-y: 27vw;
    }
    80% {
        background-position-y: 27vw;
    }

    to {
        background-position-y: 27vw;
    }
}

@keyframes blink7 {
    from {
        background-position-y: 30vw;
    }
    20% {
        background-position-y: 30vw;
        box-shadow: none;
    }
    40% {
        background-position-y: 11vw;
        box-shadow: #fff573 0 0 20px;
    }
    60% {
        background-position-y: 11vw;
        box-shadow: none;
    }
    80% {
        background-position-y: 11vw;
    }
    to {
        background-position-y: 11vw;
    }
}

/*========= COIN BLINK ===============*/

@keyframes coin-blink1 {
    from {
        box-shadow: none;
    }
    15% {
        box-shadow: none;
    }
    25% {
        box-shadow: #fff573 0 0 40px;
    }
    40% {
        box-shadow: none;
    }
    60% {
        box-shadow: none;
    }
    80% {
        box-shadow: none;
    }
    to {
        box-shadow: none;
    }
}

@keyframes coin-blink2 {
    from {
        box-shadow: none;
    }
    20% {
        box-shadow: none;
    }
    35% {
        box-shadow: none;

    }
    45% {
        box-shadow: #fff573 0 0 40px;
    }
    60% {
        box-shadow: none;
    }
    80% {
        box-shadow: none;
    }
    to {
        box-shadow: none;
    }
}

@keyframes coin-blink3 {
    from {
        box-shadow: none;
    }
    20% {
        box-shadow: none;
    }
    40% {
        box-shadow: none;
    }
    55% {
        box-shadow: none;
    }
    65% {
        box-shadow: #fff573 0 0 40px;
    }
    80% {
        box-shadow: none;
    }
    to {
        box-shadow: none;
    }
}

@keyframes coin-blink4 {
    from {
        box-shadow: none;
    }
    20% {
        box-shadow: none;
    }
    40% {
        box-shadow: none;
    }
    60% {
        box-shadow: none;
    }

    75% {
        box-shadow: none;
    }
    85% {
        box-shadow: #fff573 0 0 40px;
    }
    to {
        box-shadow: none;
    }
}

@keyframes coin-blink5 {
    from {
        box-shadow: #fff573 0 0 40px;
    }
    20% {
        box-shadow: none;
    }
    40% {
        box-shadow: none;
    }
    60% {
        box-shadow: none;
    }

    80% {
        box-shadow: none;
    }
    95% {
        box-shadow: none;
    }
    to {
        box-shadow: #fff573 0 0 40px;
    }
}

@media all and (max-width: 1200px) {
    .crypto-main-section {
        height: 600px;
    }
    .crypto__wrap-text {
        margin: 150px auto;
        /*padding: 5vw;*/
        width: 85%;
        text-align: center;
    }

    .crypto__wrap-text h1{
        font-size: 32px;
    }

    .crypto__wrap-text p {
        font-size: 16px;
    }
}
@media all and (max-width: 800px) {
    .crypto-main-section {
        height: 500px;
    }
    .crypto__wrap-text {
        margin: 10vw auto;
        /*padding: 5vw;*/
        width: 85%;
        text-align: center;
    }

    .crypto__wrap-text h1{
        font-size: 24px;
    }

    .crypto__wrap-text p {
        font-size: 18px;
    }
}
@media all and (max-width: 480px) {
    .crypto-main-section {
        /*height: 60vh;*/
        height: 350px;
    }
    .crypto__wrap-text {
        margin: 10vw auto;
        /*padding: 5vw;*/
        width: 85%;
        text-align: center;
    }
    .crypto__wrap-text h1{
        font-size: 16px;
    }
    .crypto__wrap-text p {
        font-size: 14px;
        width: 90%;
    }
}