.language {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.language h2 {
  width: 100%;
  text-align: center;
  /*padding: 30px;*/
  flex: 0;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 700;
}

.language-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.language-col {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 1 0 auto;
  width: 100%;
  min-height: 300px;
}

.flag_item {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 20%;
  margin-bottom: 5vh;
  cursor: pointer;
}

/* -------------------------- media queries ------------------------------- */

/*@media all and (max-width: 1580px) {*/
  /*.header {*/
  /*}*/
/*}*/

@media all and (max-width: 1200px) {
  .language-col {
  }

  .language h2 {
    font-weight: 700;
    font-size: 20px;
  }
  .language-items {
    font-size: 12px;
    font-weight: 400;
  }
}

@media all and (max-width: 800px) {
  .language-col {
    margin-left: 0;
  }

  .language h2 {
    font-weight: 400;
  }
  .language-items {
    font-size: 10px;
    font-weight: 400;
  }
  .flag_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 15%;
    margin-bottom: 5vh;
    cursor: pointer;
  }
}

