.quote {
  padding: 3px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*height: 70px;*/
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.479);
  color: white;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
}

.marquee-growing {
  color: #00b300;
  position: relative;
  display: inline-block;
}

.marquee-growing::after {
  content: ' ';
  position: absolute;
  right: -15px;
  top: 4px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../../../assets/materials/arrow-green.svg");
  background-size: contain;
}

.marquee-falling {
  color: #ff1026;
  position: relative;
  display: inline-block;
}


.marquee-falling::after {
  content: ' ';
  position: absolute;
  right: -15px;
  bottom: 2px;
  display: inline-block;
  transform: rotateX(180deg);
  width: 12px;
  height: 12px;
  background: url("../../../assets/materials/arrow-red.svg");
  background-size: contain;
}
