.header {
  min-width: 320px;
  width: 100vw;
  height: 155px;
  position: fixed;
  position: -ms-device-fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 200;
  opacity: 0.99;
}

/* -------------------------- media queries ------------------------------- */

@media all and (max-width: 1580px) {
  .header {
    height: 131px;
  }
}

@media all and (max-width: 1200px) {
  .header {
    height: 180px;
  }
}

@media all and (max-width: 800px) {
  .header {
    height: 100px;
  }
}

@media all and (max-width: 480px) {
  .header {
    height: 80px;
  }
}
