.reviews-section {
    width: 100%;
    height: 900px;
    background-image: url("../../assets/reviews/bg.png");
    background-size: cover;
}

.reviews-container {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    padding-top: 190px;
    overflow: hidden;
}

.review-item {
    width: 750px;
    height: 489px;
    background-image: linear-gradient(0deg, #010101, #323132, #010101);
    background-size: cover;
    border-style: solid;
    box-sizing: content-box;
    border-width: 10px;
    border-image: linear-gradient(150deg, #c19751, #fff573, #c19751);
    -webkit-border-image: -webkit-linear-gradient(150deg, #c19751 , #fff573 ,#c19751) 1 100%;
    border-image-slice: 1%;
    border-color: #c19751;
    box-shadow: #111111 0 0 40px 20px;
    display: flex;
    padding: 0;
    overflow: hidden;
    /*margin-left: 30px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.review-item:hover {
    z-index: 1;
    transform: scale(1);
}

.reviewer-photo-container {
    width: 351px;
    min-width: 351px;
    height: 489px;
    background: #bdbcbc;
    overflow: hidden;
}

.reviewer-photo-container img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    min-width: 100%;
    height: 100%;
}

.review-text {
    padding: 70px 40px;
    color: #ffffff;
}

.review-text h2 {
    font-family: 'Noto Sans Bold', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.review-text p {
    font-family: 'Noto Sans Regular', sans-serif;
    font-size: 18px;
}

.slider-left {
}

.slider-left div {
    margin-left: -30px;
}

.slider-left div::before {
    opacity: 1;
    content: ' ';
    position: absolute;
    height: 52px;
    width: 28px;
    background-image: url("../../assets/reviews/left.png");
    background-size: contain;
    left: 30px;
    top: -20px;
}

.slider-left div:hover::before,
.slider-right div:hover::before {
    animation: heartbeat 0.6s ease-out;
}

.slider-right {
    /*overflow: hidden;*/
}

.slider-right div {
    margin-left: -30px;
}

.slider-right div::before {
    opacity: 1;
    content: ' ';
    position: absolute;
    height: 52px;
    width: 28px;
    background-image: url("../../assets/reviews/right.png");
    background-size: contain;
    left: 30px;
    top: -20px;
}

.slider-single-content {
    box-shadow: transparent;
}

/*=== MEDIA QUERIES===*/

@media all and (max-width: 1200px) {
    .reviews-section {
        height: 600px;
    }

    .reviews-container {
        width: 100vw;
        height: 600px;
        margin: 0 auto;
        padding-top: 140px;
        justify-content: center;
        align-items: center;
    }

    .review-item {
        width: 460px;
        height: 300px;
        border-width: 5px;
        display: flex;
    }

    .reviewer-photo-container {
        width: 215px;
        min-width: 220px;
        height: 300px;
        background: #bdbcbc;
        overflow: hidden;
    }

    .review-text {
        padding: 10px 10px;
        color: #ffffff;
    }

    .review-text h2 {
        font-family: 'Noto Sans Bold', sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        padding-bottom: 0px;
        margin-bottom: 5px;
    }

    .review-text p {
        font-family: 'Noto Sans Regular', sans-serif;
        font-size: 12px;
    }

    .slider-left div::before {
        height: 26px;
        width: 14px;
        left: 30px;
        top: 10px;
    }
    .slider-right div::before {
        height: 26px;
        width: 14px;
        left: 50px;
        top: 10px;
    }
}

@media all and (max-width: 800px) {
    .reviews-section {
        height: 300px;
    }

    .reviews-container {
        width: 100vw;
        height: 300px;
        margin: 0 auto;
        /*padding: 0 200px;*/
        padding-top: 56px;
        justify-content: center;
        align-items: center;
    }

    .review-item {
        width: 270px;
        height: 177px;
        border-width: 5px;
        /*height: 603px;*/
        display: flex;
        /*margin-left: -10px;*/
        /*padding: 20px 21px;*/
    }

    .reviewer-photo-container {
        width: 120px;
        min-width: 130px;
        height: 177px;
        background: #bdbcbc;
        overflow: hidden;
    }

    .review-text {
        padding: 5px 5px;
        color: #ffffff;
    }

    .review-text h2 {
        font-family: 'Noto Sans Bold', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        padding-bottom: 0px;
        margin-bottom: 5px;
    }

    .review-text p {
        font-family: 'Noto Sans Regular', sans-serif;
        font-size: 9px;
    }

    .slider-left div::before {
        height: 26px;
        width: 14px;
        left: 30px;
        top: 10px;
    }
    .slider-right div::before {
        height: 26px;
        width: 14px;
        left: 50px;
        top: 10px;
    }
}