.partners {
    /*display: flex;*/
    height: 76px;
    width: 100%;
    background-image: url("../../../assets/partners/bg_screen.jpg");
    margin-top: -5px;
}

.partners-container {
    /*width: 1190px;*/
    height: 100%;
    margin: 0 auto;
    padding-top: 0;
}

.partners-header {
    padding-top: 20px;
    padding-bottom: 1px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Noto Sans Bold', sans-serif;
    font-size: 38px;
    color: #a9a9a9;
    background: linear-gradient(110deg, #bc9c29, #fff98e 10%, #d49c00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.signs-container {
    height: 50px;
    padding: 0 125px;
}

.partner-sign {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    /*padding: 0 10px;*/
    padding: 5px 26px;

}

.partner-sign img {
    margin-top: 8px;
    max-height: 30px;
    max-width: 100%;
    transition: all .5s;
}

.partner-sign img:hover {
    animation: shk 0.5s ease-out;
    -webkit-animation: shk 0.5s ease-out;
    -moz-animation: shk 0.5s ease-out;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
}

@keyframes shk {
    from {
        transform: rotate(0deg) scale(1);
    }
    10% {
        transform: rotate(-2deg) scale(1.05);
    }

    20% {
        transform: rotate(2deg) scale(1.07);
    }
    30% {
        transform: rotate(-2deg) scale(1.09);
    }
    40% {
        transform: rotate(1.5deg) scale(1.1);
    }
    50% { transform: rotate(-1.5deg) scale(1.1)}
    60% {
        transform: rotate(1.5deg) scale(1.12);
    }
    65% {transform: rotate(-1.5deg) scale(1.13)}
    70% {
        transform: rotate(1.3deg) scale(1.13);
    }
    75% {
        transform: rotate(-1.2deg) scale(1.14)
    }
    80% {
        transform: rotate(1.2deg) scale(1.15);
    }
    85% {
        transform: rotate(-1deg) scale(1.16)
    }
    90% {
        transform: rotate(1deg) scale(1.18);
    }
    to {
        transform: scale(1.3);
    }
}

@-moz-keyframes shk {
    from {
    -moz-transform: rotate(0deg) scale(1);
    }
    10% {
        -moz-transform: rotate(-2deg) scale(1.05);
    }

    20% {
        -moz-transform: rotate(2deg) scale(1.07);
    }
    30% {
        -moz-transform: rotate(-2deg) scale(1.09);
    }
    40% {
        -moz-transform: rotate(1.5deg) scale(1.1);
    }
    50% { -moz-transform: rotate(-1.5deg) scale(1.1)}
    60% {
        -moz-transform: rotate(1.5deg) scale(1.12);
    }
    65% {-moz-transform: rotate(-1.5deg) scale(1.13)}
    70% {
        -moz-transform: rotate(1.3deg) scale(1.13);
    }
    75% {
        -moz-transform: rotate(-1.2deg) scale(1.14)
    }
    80% {
        -moz-transform: rotate(1.2deg) scale(1.15);
    }
    85% {
        -moz-transform: rotate(-1deg) scale(1.16)
    }
    90% {
        -moz-transform: rotate(1deg) scale(1.18);
    }
    to {
        -moz-transform: scale(1.2);
    }
}

@-webkit-keyframes shk {
    from {
        -webkit-transform: rotate(0deg) scale(1);
    }
    10% {
        -webkit-transform: rotate(-2deg) scale(1.05);
    }

    20% {
        -webkit-transform: rotate(2deg) scale(1.07);
    }
    30% {
        -webkit-transform: rotate(-2deg) scale(1.09);
    }
    40% {
        -webkit-transform: rotate(1.5deg) scale(1.1);
    }
    50% { -webkit-transform: rotate(-1.5deg) scale(1.1)}
    60% {
        -webkit-transform: rotate(1.5deg) scale(1.12);
    }
    65% {-webkit-transform: rotate(-1.5deg) scale(1.13)}
    70% {
        -webkit-transform: rotate(1.3deg) scale(1.13);
    }
    75% {
        -webkit-transform: rotate(-1.2deg) scale(1.14)
    }
    80% {
        -webkit-transform: rotate(1.2deg) scale(1.15);
    }
    85% {
        -webkit-transform: rotate(-1deg) scale(1.16)
    }
    90% {
        -webkit-transform: rotate(1deg) scale(1.18);
    }
    to {
        -webkit-transform: scale(1.2);
    }
}

.slick-next:before {
    color: transparent;
}

.slick-next::after {
    content: ' ';
    position: absolute;
    background-image: url("../../../assets/partners/right.png");
    width: 16px;
    height: 30px;
    top: -5px;
    left: 17px;
}

.slick-prev:before {
    color: transparent;
}

.slick-prev::after {
    content: ' ';
    position: absolute;
    background-image: url("../../../assets/partners/left.png");
    width: 16px;
    height: 30px;
    top: -5px;
    left: -10px;
}


/*=== MEDIA QUERIES===*/

@media all and (max-width: 480px) {
    .partners {
        /*display: flex;*/
        height: 100px;
        width: 100%;
        background-image: url("../../../assets/partners/bg_screen.jpg");
    }
    .partners-header {
        padding-top: 30px;
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 24px;
        color: #a9a9a9;
        background: linear-gradient(110deg, #bc9c29, #fff98e 10%, #d49c00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .signs-container {
        padding: 0 50px;
    }
}