.stock-section {
    width: 100%;
    overflow: hidden;
}
.stocks-panel {
    height: 25px;
    width: 25000px;
    background-color: #fff;
    /*display: flex;*/
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    animation: slide-panel 250s linear infinite;
}

.stock-item {
    /*min-width: 480px;*/

    /*min-width: 100%;*/
    display: inline-block;
    padding: 0 15px;
    margin: 3px 25px;
    /*display: flex;*/
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-family: 'Noto Sans Regular',sans-serif;
}

.price-block {
    padding-left: 5px;
}

@keyframes slide-panel {
    from {
        transform: translateX(0);
    }
    to {
        /*transform: translateX(-1500%);*/
        transform: translateX(-23000px);
    }
}

.stock-name {

}