.acc-verification {
  padding: 10px;
  text-align: justify;
  font-family: 'Noto Sans Regular';
}

.acc-verification h3 {
  font-family: 'Noto Sans Bold';
}

.acc-verification h2 {
  width: 100%;
  text-align: left;
  font-family: 'Noto Sans Bold';
}

/* -------------------------- media queries ------------------------------- */
