.sale-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 15px;
  font-family: 'Noto Sans Regular', sans-serif;
}

.sale-nav {
  width: 1190px;
  padding-left: 40px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.sale-block h1 {
  width: 1190px;
  /*padding-left: 40px;*/
  text-align: left;
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 400;
}

.sale {
  display: flex;
  justify-content: space-between;
  width: 1190px;
  /*padding-left: 40px;*/
}

.left-sale-col {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.center-sale-col {
  width: 50%;
  padding: 0 15px;
}

.right-sale-col {
  text-align: justify;
  padding: 0 10px;
  width: 25%;
}

.center-sale-col h3 {
  font-family: 'Noto Sans Bold',sans-serif;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
}

.center-sale-col p,
.center-sale-col li {
  font-family: 'Noto Sans Regular', sans-serif;
  color: #888888;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
}

.center-sale-col ul li{
  list-style: none;
  position: relative;
}

.center-sale-col ul li::before{
  position: absolute;
  content: ' ';
  width: 8px;
  height: 8px;
  left: -22px;
  top: 6px;
  background-image: url("../../../../assets/innerPages/coin_icon.png");
  background-size: contain;
}

/* -------------------------- media queries ------------------------------- */
