.payment-method {
  padding: 10px;
  text-align: justify;
  font-family: 'Noto Sans Regular';
}

.payment-method h3 {
  font-family: 'Noto Sans Bold';
}
/* -------------------------- media queries ------------------------------- */
