.portfolios-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    width: 100%;
    height: 590px;
    margin-top: -5px;
    padding: 0;
    font-family: "Noto Sans Bold", sans-serif;
    overflow: hidden;
}
.portfolios-section h1 {
    font-size: 32px;
    text-transform: uppercase;

}

.portfolios-section h3 {
    width: 80%;
    font-size: 20px;
}

.portfolio-h-wrap {
    position: relative;
    height: 30%;
    width: 60%;
}

.portfolio-1,
.portfolio-2,
.portfolio-3 {
    width: 100%;
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolio-1 {
    animation: fadePortfoliosHeader1 24s cubic-bezier(0.53, 0.02, 0, 0.99) infinite;
}
.portfolio-2 {
    animation: fadePortfoliosHeader2 24s cubic-bezier(0.53, 0.02, 0, 0.99) infinite;
}
.portfolio-3 {
    animation: fadePortfoliosHeader3 24s cubic-bezier(0.53, 0.02, 0, 0.99) infinite;
}

.portfolios-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolios-bkg {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.bkg-p-1 {
    background-image: url("../../../assets/portfolios/backgrounds/bg_1.jpg");
    animation: fadePortfoliosBkg1 40s cubic-bezier(0.53, 0.02, 0, 0.99) infinite;
}

.bkg-p-2 {
    background-image: url("../../../assets/portfolios/backgrounds/bg_2.jpg");
    animation: fadePortfoliosBkg2 40s cubic-bezier(0.53, 0.02, 0, 0.99) infinite;
}

.bkg-p-3 {
    background-image: url("../../../assets/portfolios/backgrounds/bg_3.jpg");
    animation: fadePortfoliosBkg3 40s cubic-bezier(0.53, 0.02, 0, 0.99) infinite;
}

.bkg-p-4 {
    background-image: url("../../../assets/portfolios/backgrounds/bg_4.jpg");
    animation: fadePortfoliosBkg4 40s cubic-bezier(0.53, 0.02, 0, 0.99) infinite;
}

.bkg-p-5 {
    background-image: url("../../../assets/portfolios/backgrounds/bg_5.jpg");
    animation: fadePortfoliosBkg5 40s cubic-bezier(0.53, 0.02, 0, 0.99) infinite;
}


/*========================= animation Potfolios Background ======================*/

@keyframes fadePortfoliosBkg1 {
    from {
        opacity: 0;
    }
    20% {
        opacity: 1
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadePortfoliosBkg2 {
    from {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadePortfoliosBkg3 {
    from {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadePortfoliosBkg4 {
    from {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadePortfoliosBkg5 {
    from {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadePortfoliosHeader1 {
    from {
        opacity: 1;
    }
    5% {
        opacity: 0;
    }
    33.3% {
        opacity: 0;
    }
    66% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    70% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    74% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    78% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        opacity: 1;
    }

    82% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        opacity: 1;
    }
    97% {
        text-shadow: none;
        opacity: 1;
    }
    99.5% {
     text-shadow: #ffffff 0 0 30px;
    }
}

@keyframes fadePortfoliosHeader2 {
    from{
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    4% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    8% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    12% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        opacity: 1;
    }

    16% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);opacity: 1;
    }
    30.3% {
        text-shadow: none;
        opacity: 1;
    }
    32.3% {
        text-shadow: #ffffff 0 0 30px;
    }
    33.3% {
        opacity: 1;
    }
    35% {
        opacity: 0;
    }
    66.7% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadePortfoliosHeader3 {
    from {
        opacity: 0;
    }
    33% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    37% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    41% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    45% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        opacity: 1;
    }

    49% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);opacity: 1;
    }
    63.7% {
        text-shadow: none;
        opacity: 1;
    }
    65.7% {
        text-shadow: #ffffff 0 0 30px;
    }
    66.7% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@media all and (max-width: 1200px) {

    .portfolio-h-wrap {
        position: relative;
        height: 60%;
        width: 95%;
    }
    .portfolios-section h1 {
        font-size: 32px;
        text-transform: uppercase;
    }

    .portfolios-section h3 {
        width: 80%;
        font-size: 18px;
    }
}
@media all and (max-width: 800px) {

    .portfolio-h-wrap {
        position: relative;
        height: 60%;
        width: 95%;
    }
    .portfolios-section h1 {
        font-size: 26px;
        text-transform: uppercase;
    }

    .portfolios-section h3 {
        width: 90%;
        font-size: 18px;
    }
}